@import "base/base";

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;

*,
*::after,
*::before {
  /* estilos globales de todos los elementos de la web */
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* todos los elementos de la web se fuerzan a heredar la propiedad bordex-box ya que esta no es heredable por si misma */
}

html {
  font-size: 62.5%;
}
body {
  /* estilos globales del body */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7; /* es 1.7 veces mayor que el alto de línea original */
  color: $color-gray-dark;
  padding: 3rem;
  box-sizing: border-box;
}

.header {
  height: 95vh; /* viewport height -> debe ser el 95% de la altura de la ventana gráfica */
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      hsla(160, 64%, 43%, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  &__logo {
    position: absolute;
    top: 4rem;
    left: 4rem;
    transition: opacity 1s ease;
    cursor: pointer;
    height: 3.5rem;
    :hover {
      opacity: 0.6;
    }
  }
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden; /* elinima el efecto de sacudida hacia arriba de la animación
  */
  margin-bottom: 6rem;
  &--main {
    display: block;
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;

    /*
      animation-delay: 3s; tiempo hasta que comienza la animacion
      animation-iteration-count: 3; numero de veces que se reproduce la animación
      */
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700px;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn {
  &:link,
  &:visited {
    /* :link es una pseudo clase que quiere decir que es un estado del selector de los botones
  */
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s ease;
    position: relative;
    font-size: 1.6rem;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2); /* el primer valor es el desplazamiento direccion X, el segundo valor es el desplazamiento en Y, en tercer valor es el radio de desenfoque y el último es el color */
    &::after {
      transform: scaleX(1.5) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);
  }
  &--white {
    background-color: $color-white;
    color: $color-gray-dark;
    &::after {
      background-color: $color-white;
    }
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; /* pone los valores de los estilos a 0% antes de que comience la animacion */
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
